@using NHSDP_Request_handling.WEB.ViewModel;
@model IEnumerable<InternshipVM>
@{
    ViewData["Title"] = "Internships";
}

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Starting date</th>
            <th>End date</th>
            <th>Students count</th>
            <th>Maximum students count</th>
            <th>Enrollment state</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (InternshipVM internship in Model)
        {
    <tr>
        <td>@internship.Id.ToString().Substring(1, 10) ...</td>
        <td>@internship.StartAt.ToShortDateString()</td>
        <td>@internship.EndAt.ToShortDateString()</td>
        <td>@internship.StudentsCount</td>
        <td>@internship.MaxStudentsCount</td>
        <td>@internship.EnrollmentState</td>
        <td><input type="button" value="Delete" onclick="@("window.location.href='" + @Url.Action("Delete", "Internship") + "?id=" + internship.Id + "'");" class="btn btn-primary" /></td>
        <td><input type="button" value="Edit" onclick="@("window.location.href='" + @Url.Action("UpdateView", "Internship", internship) + "'");" class="btn btn-primary" /></td>
    </tr>
        }
    </table>
</div>

<input type="button" value="Create internship" onclick="@("window.location.href='" + @Url.Action("CreateView", "Internship") + "'");" class="btn btn-primary" />