@using NHSDP_Request_handling.WEB.ViewModel;
@model IEnumerable<OfficeVM>
@{
    ViewData["Title"] = "Offices";
}

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Adress</th>
            <th>Cabinets count</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (OfficeVM office in Model)
        {
            <tr>
                <td>@office.Id.ToString().Substring(0, 10) ...</td>
                <td>@office.Adress</td>
                <td>@office.CabinetsCount</td>
                <td><input type="button" value="Delete" onclick="@("window.location.href='" + @Url.Action("Delete", "Office") + "?id=" + office.Id + "'");" class="btn btn-primary" /></td>
                <td><input type="button" value="Edit" onclick="@("window.location.href='" + @Url.Action("UpdateView", "Office", office) + "'");" class="btn btn-primary" /></td>
            </tr>
        }
    </table>
</div>

<input type="button" value="Add office" onclick="@("window.location.href='" + @Url.Action("CreateView", "Office") + "'");" class="btn btn-primary" />
<p style="color: red;">@ViewData["ActionResultMessage"]</p>