@model NHSDP_SPA.WEB.ViewModel.InternshipVM

@{
    ViewData["Title"] = "Edit internship";
}

<h4>Update office</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div class="form-group">
                <input hidden asp-for="Id" value="@Model.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StartAt" class="control-label">Start date</label>
                <input asp-for="StartAt" value="@Model.StartAt.Date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EndAt" class="control-label">End date</label>
                <input asp-for="EndAt" value="@Model.EndAt.Date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentState" class="control-label">Enrollment state</label>
                <select asp-for="EnrollmentState" asp-items="ViewBag.EnrollmentStates" class="form-control" required>
                    <option value="InProgress">In progress</option>
                    <option value="Paused">Paused</option>
                    <option value="Stopped">Stopped</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaxStudentsCount" class="control-label">Maximum students count</label>
                <input asp-for="MaxStudentsCount" value="@Model.MaxStudentsCount" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="StudentsCount" class="control-label">Current students count</label>
                <input asp-for="StudentsCount" value="@Model.StudentsCount" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>