@using NHSDP_Request_handling.WEB.ViewModel;
@model IEnumerable<CourseVM>
@{
    ViewData["Title"] = "Courses";
}

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Technology</th>
            <th>Hours count</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (CourseVM course in Model)
        {
            <tr>
                <td>@course.Id.ToString().Substring(1, 10) ...</td>
                <td>@course.Technology</td>
                <td>@course.HoursCount</td>
                <td><input type="button" value="Delete" onclick="@("window.location.href='" + @Url.Action("Delete", "Course") + "?id=" + course.Id + "'");" class="btn btn-primary" /></td>
                <td><input type="button" value="Edit" onclick="@("window.location.href='" + @Url.Action("UpdateView", "Course", course) + "'");" class="btn btn-primary" /></td>
            </tr>
        }
    </table>
</div>

<input type="button" value="Add course" onclick="@("window.location.href='" + @Url.Action("CreateView", "Course") + "'");" class="btn btn-primary" />
<p style="color: red;">@ViewData["ActionResultMessage"]</p>